*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     background-color: grey;
 }  
 #main{
     background-color: #E5E5E5;
     width: 100%;
   
     margin: auto;
     margin-top: 30px;
    
 }
 #top-menu
 {
     display: flex;
     
    
 }
 #logo{ 
       width: 100px;
     height: 80px;
    margin-top: 30px;
     margin-left: 30px;
     margin-bottom: 20px; 
     background-color: #E5E5E5;
    


 }
#top-links {
    margin-top: 20px;
    position: absolute;
    right: 50px;
    padding: 30px;
 
   
 }
 #top-links a{
padding: 10px;
text-decoration: none;
font-family: arial;
font-size: 12px;

 }



 