* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#contain {
    padding: 0px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* START:  Top Logo, Search Bar & Nav Bar */
.topsearch {
    
    height: 75px;
    
}
.logo {
    margin-top: 20px;
}
.connectMElogo {
    width: 56px;
    height: 56px;
    float: left;
    margin-left: 8%;
}
.connectMElogo img {
    width: 100%;
}
.topinput {
    width: 40%;
    float: right;
    margin-right: 5%;
}
#inputbox {
   float: right;
}
#inputbox input {
    width: 30%;
    padding-left: 8px;
    height: 40px;
}
#topsearchbtn {
    border: 1px solid #800020;
    background-color: #800020;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: none;
    height: 40px;
}
#topmapbtn {
    border: 0.5px solid #C4C4C4;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    height: 40px;
}
#inputmapsearch {
    border: 0.5px solid #C4C4C4;
    border-left: none;
    font-size: 13px;
}
#inputsearch {
    border: 0.5px solid #C4C4C4;
    border-top-right-radius: 0px;
    border-right: none;
    font-size: 13px;
}

.topnav {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 0px;
    background: #175977;
    /* margin-bottom: 10px; */
}
.btnleft { 
    padding-left: 0px;
    
}
.loginBtn {
    color: #1B1819;
    font-size: 15px;
    line-height: 24px;
}
#signupbtn {
    background: #800020;
    border-radius: 0px 5px;
    color: white;
    font-size: 15px;
    margin-left: 5px;
    width: 112.19px;
    height: 40px;
}
#check {
    
    margin-left: 0px;
    float: left;
    padding-top: 0px;
    background-color: #175977;
}

#navbarNavAltMarkup a {
    color: white;
    font-size: 15px;
}

#check2 {
    
    width: 39%;
    float: right;
    padding-left: 20%;
}

/* END:  Top Logo, Search Bar & Nav Bar  */
/* start of body */
/* Start: Banner */
.bannerBox {
    position: relative;
    z-index: 1;
    width: 100%;  
}
.bannerText{
    
    width: 80%;
    position: absolute;
    z-index: 3;
    top: 110px;
    left: 140px;
    text-align: center;
    color: white;
}
.bnrtxt1 {
    font-size: 60px;
    margin-bottom: 5px;
    /* font-weight: 100px; */
}
.bnrtxt2 {
    font-size: 40px;
    margin-bottom: 70px;
    font-weight: bold;
}
.bnrinput {
    
}
.bnrinput input {
    width: 345px;
    height: 50px;
    padding-left: 15px;
    outline: none;
    border-radius: 2px;
    border: none;
    margin-right: 20px;
}
.bnrinput input::placeholder {
    color: #800020;
}
.bannerText button {
    width: 122px;
    height: 50px;
    color: white;
    border: solid white;
    background: none;
    border-radius: 3px;
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(120, 0, 32, 0.4);
    z-index: 2;
}


/* End: Banner */


.browse p{
   
    text-align: center;
    font-size: 40px;
    margin-top: 40px;

}
.box1 {
   
    padding-right: 0px !important;
}
.box2 {
   
    padding-left: 0px !important;
}
.jobs {
 
    width: 400px;
    float: right;
    padding-left: 50px;
    /* height: 100px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    box-sizing: border-box;
}
.jobs2 {
   
    width: 400px;
    float: left;
    padding-left: 50px;
    /* height: 100px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    box-sizing: border-box;
}
.jobs span {
    margin-top: 15px;
    font-size: 14px;
}
.jobs2 span {
    margin-top: 15px;
    font-size: 14px;
}
.location {
    
    display: flex;
    width: 100%;
    margin-top: 120px;
    background: #FFFFFF;
    color: #800020;
    font-size: 14px;
    line-height: 30px;
    float: right;
    margin-right: 5px;
}
.roles {
  
    display: flex;
    width: 100%;
    margin-top: 120px;
    background: #FFFFFF;
    color: #800020;
    font-size: 14px;
    line-height: 35px;
    float: left;
    margin-left: 5px;
}
.states {
    margin-right: 0px !important;
    padding-right: 0px !important;
}
.bgBox {
padding-bottom: 50px;

}
/*
.div1{
    display: flex;
    margin-left: 30px;
   
}
.jobs{
    width: 20%;
    background-color:whitesmoke;
    height: 120px;
margin-left:  400px;
padding: 20px;}

.jobs p{ margin-left: 30px;}

    .jobss{
    width: 20%;
    background-color:whitesmoke;
    height: 120px;
    margin-left: 20px;
    padding: 20px;

    }
    .all{
        display: flex;
        margin-bottom: 30px;
    }
    .div2 {
        display: flex;
        background-color: #FFFFFF;
        width: 40%;
        height: 350px;
        margin-left: 100px;
        margin-top: 20px;
    }
    .div2 h4{
        margin-left: 50px;
    }
    .one{
       
        margin-left: 30px;
        color: #800020;
        line-height: 25px;
    }
    .two{
        margin-left: 10px;
        color: #800020;
        line-height: 25px;
    }
    .three{
        margin-left: 60px;
        color: #800020;
        line-height: 25px;
    }
    .div3{
        display: flex;
        background-color:#FFFFFF;
        margin-top: 20px;
        margin-left: 50px;
        color: #800020;
        line-height: 30px;
        padding: 10px;
    }
    .five{
        margin-left: 30px;
    } */
    
footer {
    background: #175977;
    color: white;
    padding-top: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.footernav1 {
    
    padding-left: 20%;
}

.footernav1 a {
    display: block;
    color: white;
    font-size: 13px;
    line-height: 24px;
}
.footernav1 a:hover {
    color: #800020;
}
.footernav2 {
    padding-left: 20%;
}
.footernav2 a {
    display: block;
    color: white;
    font-size: 13px;
    line-height: 24px;
}
.footernav2 a:hover {
    color: #800020;
}
.footernav3 {
    padding-left: 20%;
}
.footernav3 a {
    display: block;
    color: white;
    font-size: 13px;
    line-height: 24px;
}
.footernav3 a:hover {
    color: #800020;
}
.foot {
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 20px;
}
.copyright {
    margin-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 12px;
}
.copyright a {
    color: white;
}
.copyright a:hover {
    color: #800020;
}
 .footernav {
    width: 75%;
    margin: auto;
    text-align: center;
}
.sperate {
    font-size: 1vw;
}
.footerlink {
    display: inline-block;
    font-size: 1vw;
    width: 15%;
    
}
.footerlink a {
    color: white;
}
.copyright {
    margin-left: 10%;
    font-size: 1vw;
}
.footerIcons {
    float: right;
    margin-right: 25px;
} 
@media screen and (max-width: 800px) {
     /* START: Top Logo, Search Bar & Nav Bar */
     .topinput {
        width: 55%;
        float: right;
        margin-right: 5%;
    }
    #check2 {
        padding-left: 0px;
        width: 50%;
        float: right;
    }
    .loginBtn {
        color: #1B1819;
        font-size: 13px;
        line-height: 24px;
    }
    #signupbtn {
        background: #800020;
        border-radius: 0px 5px;
        color: white;
        font-size: 13px;
        margin-left: 5px;
        width: 100px;
        height: 30px;
    }
    /* END:  Top Logo, Search Bar & Nav Bar  */

    /* Start: Banner */
.bannerBox {
    position: relative;
    z-index: 1;
    width: 100%;  
}
.bannerText{
    width: 80%;
    position: absolute;
    z-index: 3;
    top: 32px;
    left: 35px;
    text-align: center;
    color: white;
}
.bnrtxt1 {
    font-size: 15px;
    margin-bottom: 5px;
}
.bnrtxt2 {
    font-size: 6px;
    margin-bottom: 20px;
    font-weight: bold;
}
.bnrinput {
    
}
.bnrinput input {
    width: 80px;
    height: 18px;
    padding-left: 8px;
    outline: none;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
    font-size: 8px;
}
.bnrinput input::placeholder {
    color: #800020;
}
.bannerText button {
    width: 30px;
    height: 18px;
    color: white;
    border: solid white;
    font-size: 8px;
    background: none;
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(120, 0, 32, 0.4);
    z-index: 2;
}
/* Start: Content */

.location {
    
    display: flex;
    width: 100%;
    margin-top: 30px;
    background: #FFFFFF;
    color: #800020;
    font-size: 14px;
    line-height: 30px;
    float: right;
    margin-right: 5px;
}
.roles {
  
    display: flex;
    width: 100%;
    margin-top: 30px;
    background: #FFFFFF;
    color: #800020;
    font-size: 14px;
    line-height: 35px;
    float: left;
    margin-left: 5px;
}
.jobs2 {

    margin-top: 30px;
}
/* End: Content */


/* End: Banner */

    .footernav1 {
        text-align: center;
        width: 30%;
        margin: auto;
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .footernav1 span {
        font-size: 14px;
        font-weight: bold;
    }
    .footernav1 a {
        display: block;
        color: white;
        font-size: 11px;
    }
    .footernav2 {
        text-align: center;
        width: 30%;
        margin: auto;
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .footernav2 span {
        font-size: 14px;
        font-weight: bold;
    }
    .footernav2 a {
        display: block;
        color: white;
        font-size: 11px;
    }
    .footernav3 {
        text-align: center;
        width: 30%;
        margin: auto;
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .footernav3 span {
        font-size: 14px;
        font-weight: bold;
    }
    .footernav3 a {
        display: block;
        color: white;
        font-size: 11px;
    }

    /* FOOTER */

}