* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}
#contain {
    width: 100%;
    font-family: Arial;
}
/* START: Side NavBar */
.sideBar {
    border: 1px solid white;
    width: 20.2%;
    height: 941px;
    background-color: white;
    padding-left: 0% !important;
    padding-right: 0% !important;
    box-sizing: border-box;
}
.logoBox {
  
    width: 56px;
    height: 56px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.logoBox img {
    width: 100%;
}
.dbB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    background-color: #800020;
}
.dbBtn {
    width: 100%;
    height: 38px;
    color: white;
    border-radius: 0px;   
}

.dbBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.dbBotton {
    width: 100%;
}
.dbicon {  
    height: 38px; 
    padding-left: 0% !important;
    padding-right: 0% !important; 
}
.dbicon img {
    float: right; 
}
.ntBtn {
    width: 100%;
    height: 38px;
    color: #800020;
    border-radius: 0px;

}
.pficon {
   
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pficon img {
    float: right;
}
.ntB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.pfBotton {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pfBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.bottomBtn {
    
    position: absolute;
    width: 100%;
    bottom: 40px;
}
/* END: Side NavBar */

/* START: Top Nav */
.topNav {
    /* border: 1px solid red; */
    width: 71%;
    height: 85px;
    position: absolute;
    top: 0px;
    right: 3%;
    padding-top: 17px;
}

.input1 {
    width: 55%;
    height: 46px;
    padding-left: 10px;
    margin-right: 2%;
    background: #E5E5E5;
    border: 1px solid;
    font-size: 16px;
    line-height: 21px;
    color: #6F6F6F;
}
.input2 {
    width: 35%;
    height: 46px;
    padding-left: 10px;
    background: #E5E5E5;
    border: 1px solid;
    font-size: 16px;
    line-height: 21px;
    color: #6F6F6F;
}
.profileBox {
    display: flex;
    height: 46px;
}
.topBtn {
    width: 50%;
    background: #800020;
    border-radius: 0px 5px;
    color: whitesmoke;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}
.topBtn img {
    margin-right: 7px;
}
.notification {
    text-align: center;
    padding-top: 2px;
    width: 33px;
    height: 33px;
    border-radius: 8px;
    margin-left: 3%;
    background: #F8F4F4;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile {
   
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 3%;
    background: #C4C4C4;
    margin-top: 2px;
}


/* END: Top Nav */

/* START: Body Content */
.content {
   
    width: 71%;
    height: 85px;
    position: absolute;
    top: 87px;
    right: 3%;
    padding-top: 17px;
    
}

/* START: Employee Profile page */
.employeepfData {
    
    height: 417px;
    background: #F6F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 35px;
}
.dataImg {
    width: 100px;
    height: 100px;
    background: #615E5E;
    border-radius: 100%;
    margin: auto;
}
.data1 {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 25px;
}
.dataName {
    height: 30px;
    text-align: center;
    color: #1B1819;
    font-size: 15px;
    font-weight: bold;
}
.dataSkill {
    
    text-align: center;
    font-size: 12px;
    color: #1B1819;
}
.dataDscrp {
    width: 148px;
    height: 63px;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #1B1819;
    margin: auto;
}
.basicInfo {
    height: 253px;
    background: #F6F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.experience {
    height: 253px;
    background: #F6F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.basicInfoHead {
    font-size: 15px;
    line-height: 24px;
    color: #800020;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.basicInfoHead2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #1B1819;
}
.basicInfoText1 {
    font-size: 10px;
    line-height: 15px;
    color: #1B1819;
}
.basicInfoBtn2 {
    width: 131px;
    height: 40px;
    border: 0.5px solid #800020;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
}
.basicInfoBtn1 {
    width: 135px;
    height: 40px;
    background: #800020;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #800020;
    color: white;
    margin-right: 10px;
}
.edit {
    font-size: 13px;
    line-height: 21px;
    color: #800020;
    letter-spacing: 0.01em;
    padding-top: 10px;
}
.editImg {
    margin-right: 6px;
}
.exprnImg {
    width: 83px;
    height: 83px;
    background: #175977;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 36px;
    padding-top: 22px;
}
.exprnText {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bgbox {
  
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.box1 {
  
    padding: 3px !important;
}

.edit2 {
    font-size: 13px;
    line-height: 21px;
    color: #800020;
    letter-spacing: 0.01em;
    padding-top: 53px;
}
.line {
    margin: 5px !important;
    height: 2px;
    background: #575454;
}
/* END: Employee Profile page  */

/* END: Body Content */