* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}
#contain {
    width: 100%;
}
/* START: Side NavBar */
.sideBar {
    border: 1px solid white;
    width: 20.2%;
    height: 941px;
    background-color: white;
    padding-left: 0% !important;
    padding-right: 0% !important;
    box-sizing: border-box;
}
.logoBox {
  
    width: 56px;
    height: 56px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.logoBox img {
    width: 100%;
}
.dbB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    background-color: #800020;
}
.dbBtn {
    width: 100%;
    height: 38px;
    color: white;
    border-radius: 0px;   
}

.dbBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.dbBotton {
    width: 100%;
}
.dbicon {  
    height: 38px; 
    padding-left: 0% !important;
    padding-right: 0% !important; 
}
.dbicon img {
    float: right; 
}
.ntBtn {
    width: 100%;
    height: 38px;
    color: #800020;
    border-radius: 0px;

}
.pficon {
   
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pficon img {
    float: right;
}
.ntB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.pfBotton {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pfBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    /* padding-left: 0% !important;
    padding-right: 0% !important; */
}
.bottomBtn {
    
    position: absolute;
    width: 100%;
    bottom: 40px;
}
/* END: Side NavBar */

/* START: Top Nav */
.topNav {
    /* border: 1px solid red; */
    width: 71%;
    height: 85px;
    position: absolute;
    top: 0px;
    right: 3%;
    padding-top: 17px;
}

.input1 {
    width: 55%;
    height: 46px;
    padding-left: 10px;
    margin-right: 2%;
    background: #E5E5E5;
    border: 1px solid;
    font-size: 16px;
    line-height: 21px;
    color: #6F6F6F;
}
.input2 {
    width: 35%;
    height: 46px;
    padding-left: 10px;
    background: #E5E5E5;
    border: 1px solid;
    font-size: 16px;
    line-height: 21px;
    color: #6F6F6F;
}
.profileBox {
    display: flex;
    height: 46px;
    
}
.topBtn {
    width: 60%;
    background: #800020;
    border-radius: 0px 5px;
    color: white;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}
.topBtn img {
    margin-right: 7px;
}
.topBtn a {
    color: whitesmoke;
}
.notification {
    text-align: center;
    padding-top: 2px;
    width: 33px;
    height: 33px;
    border-radius: 8px;
    margin-left: 3%;
    background: #F8F4F4;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile {
   
    width: 40px;
    height: 40px;
    
    margin-left: 3%;
   
    margin-top: 2px;
}
.profile img {
    width: 100%;
    height: 100%;
    border-radius:100%;
}


/* END: Top Nav */

/* START: Body Content */
.content {
   
    width: 71%;
    height: 85px;
    position: absolute;
    top: 87px;
    right: 3%;
    padding-top: 17px;
    
}
.contentText1 {
    
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 30px;
    color: #800020;
}
.hrLine1 {
    padding-top: 10px; 
}
.hrLine2 {
    padding-top: 5px; 
}

/* START: Recommended candidates */
.data1Profile {
    
    width: 100%;
    height: 132px;
    background: #F7F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.ted {
    width: 40px;
    height: 40px;
    background: #fe7171;
    border-radius: 5px;
}
.ted2 {
    width: 70px;
    height: 20px;
    background: #175977;
    border-radius: 3px;
    font-size: 10px;
    line-height: 11px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 4px;
}
.text1 {
    font-size: 18px;
    color: #1B1819;
    font-weight: 600;
    line-height: 0.5;
}
.text2 { 
    font-size: 10px;
    color: #757475;
}
.smconBtn {
    width: 50px;
    height: 20px;
    background: #800020;
    border-radius: 3px;
    font-size: 10px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    float: right;
    margin-right: 2px;
}
.smResume {
    font-size: 10px; 
}
/* END: Recommended candidates */

/* START: Candidates */
.bgDataProfile {

    width: 100%;
    height: 240px;
    background: #F6F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px;
}

.bgted {
    width: 70px;
    height: 70px;
    background: #fe7171;
    border-radius: 5px;
}
.bgted img {
    width: 100%;
}
.bgted2 {
    width: 80px;
    height: 25px;
    background: #175977;
    border-radius: 5px;
    float: right;
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: 5px;
}
.bglink {
   
    float: right;
    font-size: 11px;
    width: 85px;
    height: 20px;
    background: #175977;
    border-radius: 5px; 
    color: white;
}
.bglinkimg {
    margin: 0px 7px 0px 5px;
}
.bgconBtn1 {
    width: 90px;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 14px;
}
.bgconBtn2 {
    float: right;
    width: 90px;
    height: 35px;
    background: #800020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: white;
}
.bgResume {
    font-size: 13px; 
}
/* END: Candidates */

/* END: Body Content */
.mobileNavBar {
    display: none;
}
.mobileHr {
    display: none;
}

@media screen and (max-width: 800px) {
    /* START: NavBar */
    .desktopViewNavBar {
        display: none;
    }
    .mobileNavBar{
        display: block;
    }
    .sideBar {
        display: none;
    }
    .topNav {
        width: 100%;      
    }
    
    .mobileLogo {
        display: block;
        width: 55px;
        height: 55px;
        margin-left: 5px;
    }
    .mobileLogo img {
        
        width: 100%;
    }
    .navbar {
        width: 100%;
        float: right;
        background: #F7F0F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .navbar a {
        color: #800020;
    }
    .mobilesearch {
        height: 40px;
        padding-left: 7px;
    }
    .mobileProfileImg {
        width: 55px;
        height: 55px;
    }
    .mobileProfileImg img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    /* END: NavBar */

    /* START: Body Content */
    .content {
        /* border: 1px solid green; */
        width: 100%;
        text-align: center;
        margin-left: 7px;
       
        position: relative;
    }
    .contentText1 {
    
        margin-bottom: 5px;
        font-size: 19px;
        
        color: #800020;
    }
    .mobileHr {
        display: block;
    }
    .desktopHr {
        display: none;
    }
    .data1Profile {
        width: 100%;
        height: 145px;
        background: #F7F0F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        margin-top: 8px;
    }
    .ted {
        width: 40px;
        height: 40px;
        background: #fe7171;
        border-radius: 5px;
        margin-left: 6px;
    }
    .ted2 {
        width: 70px;
        height: 20px;
        background: #175977;
        border-radius: 3px;
        font-size: 10px;
        line-height: 11px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 4px;
        float: right;
        margin-right: 6px;
    }
    .ted3 {
        text-align: left; 
        padding-left: 16px; 
        padding-top: 6px;
    }
    .smconBtn {
        width: 50px;
        height: 20px;
        background: #800020;
        border-radius: 3px;
        font-size: 10px;
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        float: right;
        margin-right: 6px;
    }
    .smResume {
        font-size: 10px; 
        text-align: left;
        padding-left: 11px; 
        padding-top: 8px;
    }
    .bgDataProfile {
        margin-top: 16px;
        width: 100%;
        height: 245px;
        background: #F6F0F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 7px;
    }
    
    .bgted {
        width: 70px;
        height: 70px;
        background: #fe7171;
        border-radius: 5px;
    }
    .bgted img {
        width: 100%;
    }
    .bgted2 {
        width: 80px;
        height: 25px;
        background: #175977;
        border-radius: 5px;
        float: right;
        font-size: 10px;
        color: white;
        text-align: center;
        padding-top: 5px;
    }
    .bglink {
       
        float: right;
        font-size: 11px;
        width: 85px;
        height: 20px;
        background: #175977;
        border-radius: 5px; 
        color: white;
    }
    .bglinkimg {
        margin: 0px 7px 0px 5px;
    }
    .bgconBtn1 {
        width: 90px;
        height: 35px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        font-size: 14px;
    }
    .bgconBtn2 {
        float: right;
        width: 90px;
        height: 35px;
        background: #800020;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        font-size: 14px;
        color: white;
    }
    .ted4 {
        text-align: left; 
        padding-left: 16px; 
        padding-top: 2px;
    }
    .bgResume {
        font-size: 13px; 
        text-align: left;
        padding-left: 8px; 
    }
    .ted5 {
        margin-top: 3px !important;
        margin-bottom: 20px !important;
    }
    /* END: Body Content */
}
