* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#contain {
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

/* START: Top Logo & SearchBar */
.topsearch {
  
    height: 75px;
    
}
.logo {
    margin-top: 20px;
}
.logo img {
    float: left;
    margin-left: 5%;
}
.topinput {
    width: 45%;
    float: right;
    margin-right: 5%;
}
#inputbox {
   float: right;
}
#inputbox input {
    width: 30%;
    padding-left: 8px;
    height: 40px;
}
#topsearchbtn {
    border: 1px solid #A21942;
    background-color: #A21942;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: none;
    height: 40px;
}
#topmapbtn {
    border: 0.5px solid #C4C4C4;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    height: 40px;
}
#inputmapsearch {
    border: 0.5px solid #C4C4C4;
    border-left: none;
}
#inputsearch {
    border: 0.5px solid #C4C4C4;
    border-top-right-radius: 0px;
    border-right: none;
}

.topnav {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 0px;
    background: #175977;
    /* margin-bottom: 10px; */
    
}
.btnleft { 
    padding-left: 0px;
    
}
#signupbtn {
    background: #A21942;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    color: white;
}
#check {
    margin-left: 0px;
    float: left;
    padding-top: 0px;
    background-color: #175977;
}

#navbarNavAltMarkup a {
    color: white;
    font-size: 16px;
}

#check2 {
    
    width: 39%;
    float: right;
}

/* END: Top Logo & SearchBar  */

#topbckgrd {
    width: 100%;
    height: 529px;
    padding-top: 150px;
}
#topbckgrd {
    width: 100%;
    height: 529px;
    background-color: rgba(23, 89, 119, 0.3);
}
#connect {
    width: 70%;
    margin-left: 15%;
   
}
#connectText {
    font-size: 250%;
    font-weight: bolder;
    color: #175977;
}
#signupbtn2 {
    background: #A21942;
    width: 10rem;
    font-size: 22px;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
}