* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}
#contain {
    width: 100%;
    font-family: Arial;
}
/* START: Side NavBar */
.sideBar {
    border: 1px solid white;
    width: 20.2%;
    height: 916px;
    background-color: white;
    padding-left: 0% !important;
    padding-right: 0% !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logoBox {
  
    width: 56px;
    height: 56px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.logoBox img {
    width: 100%;
}
.dbB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    background-color: #800020;
}
.dbBtn {
    width: 100%;
    height: 38px;
    color: white;
    border-radius: 0px;   
}

.dbBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.dbBotton {
    width: 100%;
}
.dbicon {  
    height: 38px; 
    padding-left: 0% !important;
    padding-right: 0% !important; 
}
.dbicon img {
    float: right; 
}
.ntBtn {
    width: 100%;
    height: 38px;
    color: #800020;
    border-radius: 0px;

}
.pficon {
   
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pficon img {
    float: right;
}
.ntB {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.pfBotton {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.pfBottonBox {
    width: 100%;
    height: 38px;
    box-sizing: border-box;  
    /* padding-left: 0% !important;
    padding-right: 0% !important; */
}
.bottomBtn {
    
    position: absolute;
    width: 100%;
    bottom: 40px;
}
/* END: Side NavBar */

/* START: Top Nav */
.topNav {
    /* border: 1px solid red; */
    width: 71%;
    height: 85px;
    position: absolute;
    top: 0px;
    right: 3%;
    padding-top: 17px;
}

.input1 {
    width: 55%;
    height: 46px;
    padding-left: 10px;
    margin-right: 2%;
    background: #E5E5E5;
    border: 1px solid;
    font-size: 16px;
    line-height: 21px;
    color: #6F6F6F;
}

.profileBox {
    display: flex;
    height: 46px;
}
.topBtn {
   
    height: 40px;
    
    border-radius: 0px 5px;
    color: #000000;
    font-size: 16px;
    
}

.notification {
    text-align: center;
    padding-top: 2px;
    width: 33px;
    height: 33px;
    border-radius: 8px;
    margin-left: 3%;
    background: #F8F4F4;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile {
   
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 3%;
    background: #C4C4C4;
    margin-top: 2px;
}


/* END: Top Nav */

/* START: Body Content */
.content {
   
    width: 71%;
    height: 85px;
    position: absolute;
    top: 87px;
    right: 3%;
    padding-top: 17px;
    
}
.smDataHead {
    font-size: 17px;
    color: #800020;
}
.smData {
    width: 99%;
    margin: auto;
    height: 164px;
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.smdatavideo {
    height: 104px;
    background: #969393;
    border-radius: 5px;
    width: 77%;
    margin: auto;
}
.smdataText {
    font-size: 12px;
    text-align: center;
}
.bgdatavideoBox {
    
    width: 99%;
    margin: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.bgdatavideo {
    height: 324px;
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    

}
.bgdatavideoText {
    font-size: 15px;
    color: #800020;
}
.course {
    width: 99%;
    margin: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.courseTutor {
    height: 42px;
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.courseTutorImg {
    
    height: 27px;
    width: 65%;
    background: #676464;
    margin-top: 6px;
    
}
.courseTutorDetails {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.tutorImgBox {
    padding-left: 10px !important;
    padding-right: 0px !important;
}
.Name {
    margin-top: 6px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
.title {
    font-size: 12px;
    line-height: 14px;
}

.tedcourseBox {
    
    height: 47px;
    width: 99%;
    margin: auto;
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tedcourse {
    
    font-size: 12px;
    margin-top: 12px;
    color: #000000;
}
.tedcourse:hover {
    color: #800020;
    text-decoration: none;
}
.classDetails {
    
    font-size: 12px;
    font-weight: bolder;
    margin-top: 12px;
    color: #000000;
}
.classDetails:hover {
    color: #800020;
    text-decoration: none;
}
.tedDisplayHead {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.tedDisplayText {
    font-size: 12px;
    line-height: 18px;
}
.progressBarText {
    font-size: 13px;
}
.progressBarText span {
    margin-left: 5px;
}
.progressBar {
    height: 16px;
    background: #C4C4C4;
    border-radius: 0px 10px 10px 0px;
}
.progress {
    width: 10%;
    height: 16px;
    background: #175977;
    border-radius: 0px 10px 10px 0px;
}
.contentDetailsBox {
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.courseobjHead {
    font-weight: bold;
    font-size: 17px;
}
.courseobj {
    font-size: 12px;
}
.courseoutlines {
    font-weight: bold;
    font-size: 14px;
}
.outline1 {
    height: 50px;
    background: #800020;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    padding-top: 13px;
}
.outline1 img {
    margin: 0px 15px 0px 7px;
}
.outlinelock {
    font-size: 14px;
}
.outlinelock img {
    margin: 0px 15px 0px 7px;
}
.enroll {
    background: #FBF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.enrollHead {
    font-weight: bold;
    font-size: 13px;
}
.enrollText {
    font-size: 12px
}
.enrollBtn {
    background: #800020;
    border-radius: 5px;
    height: 42px;
    width: 40%;
    border: none;
    color: white;
    font-size: 13px;
}

.mobileNavBar {
    display: none;
}
.mobileHr {
    display: none;
}


@media screen and (max-width: 800px) {
    /* START: NavBar */
    .desktopViewNavBar {
        display: none;
    }
    .mobileNavBar{
        display: block;
    }
    .sideBar {
        display: none;
    }
    .topNav {
        width: 100%;      
    }
    
    .mobileLogo {
        display: block;
        width: 55px;
        height: 55px;
        margin-left: 5px;
    }
    .mobileLogo img {
        
        width: 100%;
    }
    .navbar {
        width: 100%;
        float: right;
        background: #F7F0F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .navbar a {
        color: #800020;
    }
    .mobilesearch {
        height: 40px;
        padding-left: 7px;
    }
    .mobileProfileImg {
        width: 55px;
        height: 55px;
    }
    .mobileProfileImg img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    /* END: NavBar */

    /* START: Body Content */
    .content {
    
        width: 100%;
        text-align: center;
        margin-left: 7px;
        
        position: relative;
    }
    .smDataHead {
        font-size: 17px;
        color: #800020;
        margin-bottom: 30px;
    }
    .smData {
       
        padding-top: 20px;
        width: 99%;
        margin: auto; 
        height: 520px;
        background: #FBF7F7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .bgdatavideoBox {
    
        width: 99%;
        margin: auto;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .bgdatavideo {
        width: 100%;
        height: 200px;
        background: #FBF7F7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .bgdatavideo iframe {
        width: 100%;
        height: 100%;
    }
    .bgdatavideoText {
        font-size: 15px;
        color: #800020;
    }
    .course {
      
        width: 99%;
        margin: auto;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .courseTutor {
        height: 42px;
        background: #FBF7F7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .courseTutorImg {
        
        height: 27px;
        width: 65%;
        background: #676464;
        margin-top: 6px;
        
    }
    .courseTutorDetails {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .tutorImgBox {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .Name {
        margin-top: 6px;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
    }
    .title {
        font-size: 12px;
        line-height: 14px;
    }
    .outlinelock {
        font-size: 14px;
        text-align: left;
    }
    .progressBarText {
        margin-top: 20px !important;
    }
    .enroll {
        margin-bottom: 20px;
    }
       /* END: Body Content */
}